body {
  background-color: #f7f3e8;
}

.App {
  text-align: center;
}

a {
  color: #000000;
}

a:hover {
  color: #bdbdbd;
  transition: color 0.3s;
}

.nav-font-color {
  color: #000000;
}

.nav-font-color:hover {
  transition: color 0.3s;
}
