@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-family-sans-serif: Montserrat, sans-serif;
$light: #ffffff;
$dark: black;
$jumbotron-bg: #ffffff;
$danger: transparent;
$paragraph-margin-bottom: 0;
$btn-border-radius: 0;

@import '~bootstrap/scss/bootstrap';
